@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    background-color: black;
    
    background-image: linear-gradient(to left, #583D73, #5d5466, #69636e);
}

header{
    background-image: url(imagens/banner2.jpeg);
    background-size: contain;
    background-attachment: fixed;

    padding: 20px;
    background-color: blue;
    color: white;
}
header>h1{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 300%;
    margin: 0px;

    text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.548);
}
header>p{
    text-align: center;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.473);
    font-family: Arial, Helvetica, sans-serif;
}


main{
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.24);
    
    border-radius: 0px 0px 5px 5px;
    max-width: 900px;
    background-color: white;
    padding: 30px;
}

section > h2{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 170%;
    margin-top: 0px;
}

#tituloespecial{
    margin-top: 30px;
    margin-left: 30%;
}

section > h3{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 150%;

    margin-top: 10px;
}

section > p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

aside{
    background-color: black;
    background-image: url(imagens/banner.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    border: 3px solid #4D3273;
    max-width: 900px;
    height: 300px; 
}

article > img{
    max-width: 40%;
    max-height: 40%;

    min-width: 230px;
    min-height: 230px;
    margin-left: 10%;

    border: 2px solid #4D3273;
}

article > img:hover{
    transform: translateX(15%);
    transition-duration: 1s;
    border-left: 40px solid #4D3273;
    border-right: 40px solid #4D3273;
    border-radius: 10px;
}

section > h3::before{
    content: 'â— ';
}



footer{
    margin-top: 30px;
    background-color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

footer>p{
    margin: 5px 0px 0px 0px;
}

footer>ul{
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 3px;
    columns: 3;
    list-style: none;
    font-size: 90%;
}


