@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-fundo-personagens: #431475;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    background-color: black;
    
    background-image: linear-gradient(to left, #583D73, #5d5466, #69636e);
}

header{
    background-image: url(../imagens/banner2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    padding: 88px;
    
    background-color: blue;
    color: white;
}
header>h1{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    font-size: 4em;
    margin: 0px;
    font-variant: small-caps;

    text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.548);
}
header>p{
    text-align: center;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.473);
    font-family: Arial, Helvetica, sans-serif;
}


main{
    
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.24);
    
    border-radius: 0px 0px 5px 5px;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
}

/*display:flex flex-direction: column/row*/
section > h2{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 170%;
    margin-top: 0px;
}

#tituloespecial{
    margin-top: 30px;
    margin-left: 30%;
}

section > h3{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 150%;

    margin-top: 10px;
}

section > p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

aside{
    
    background-color: black;
    background-image: url(../imagens/banner.webp);
    background-size: cover;
    background-attachment: contain;
    background-position: center center;

    border: 2px solid #4D3273;
    max-width: 100vw;
    height: 40vw; 
}

div.personagens{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-fundo-personagens);
    margin: -30px;
    padding: 10px;
    color: white;
}

h3{
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 10px;
    background-color: var(--cor-fundo-personagens);
    margin: -30px;
    color: white;
    padding-left: 30px;
}

p{
    padding: 10px 5px;
    margin-right: 10px;
}

div.personagens img{
    height: 70%;
    border: 10px solid white;
    margin: 10px;
}
 
div.personagens img:hover{
    animation: imagens-animacao 1s infinite alternate;
}

@keyframes imagens-animacao {
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(105%);
    }
}

.personagens p{
    text-align: justify;
    margin-left: 0px;
}

section > h3::before{
    content: 'â— ';
}



footer{
    margin-top: 5vh;
    background-color: white;
    padding: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

footer>p{
    margin: 5px 0px 0px 0px;
}

footer>ul{
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 3px;
    columns: 3;
    font-size: 90%;
}

footer>p{
    font-weight: bold;
}

footer ul a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius:6px;
}

footer ul a:hover{
    text-decoration: underline;
}


